<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script type="text/javascript" src="https://sampath.paycorp.lk/webinterface/qw/paycorp_payments.js"></script>
  </head>
  <body>
    <div class="main-content">
      <h1>{{title}}</h1>
      <main>{{{body}}}</main>
    </div>
  </body>
</html>
