<script>
  function buildPayment() {
    // Build the payment object
    return {
          // NOTE: this is the QuickWeb DEMO client ID.
          // You may use it for initial setup
          // but replace with the Client ID
          // provided by Paycorp for final testing.
          clientId: 14002582,
          paymentAmount: 1010,
          currency: 'LKR',
          returnUrl: 'http://localhost:3000/payment-response',
          clientRef: 'CREF-12345',
          tokenize: true, // optional
          comment: 'This is a demo payment'
    };
  }

</script>

<a href="#" class="button" onClick="loadPaycorpPayment(buildPayment())">Hosted Checkout</a>
