<script>
  document.addEventListener("DOMContentLoaded", (event) => { 
    loadPaycorpPayment(buildPayment(), 'paycorp-payment');
  });
  function buildPayment() {
    return {
          clientId: 14005247,
          paymentAmount: {{amount}},
          currency: 'LKR',
          returnUrl: `https://api.webdevelopmentsolution.net/ondemandlive/payment-response?id={{userId}}`,
          clientRef: "{{clientRef}}",
    };
  }
</script>
<div id="paycorp-payment" class="paycorp-payment">
</div>
