  <p>Welcome to {{title}}</p>
  <img src="images/mower.jpg"></img>
  <p>price: $450.99</p>
  <a href="/iframe-checkout" class="button">IFrame Checkout</a>
  <a href="/hosted-checkout" class="button">Hosted Checkout</a>

<br>
<br>
