<div id="paycorp-payment" class="paycorp-payment">
  <p><strong>request ID:</strong> {{data.reqid}}</p>
  <p><strong>client ref:</strong> {{data.clientRef}}</p>
  <p><strong>Comment:</strong> {{data.comment}}</p>
  <p><strong>Credit card type:</strong> {{data.cardType}}</p>
  <p><strong>Card holder name:</strong> {{data.cardHolderName}}</p>
  <p><strong>Credit card number:</strong> {{data.cardNumber}}</p>
  <p><strong>Credit card expiry:</strong> {{data.cardExpiry}}</p>
  <p><strong>Payment amount:</strong> {{data.paymentAmount}}</p>
  <p><strong>Currency:</strong> {{data.currency}}</p>
  <p><strong>transaction reference:</strong> {{data.txnReference}}</p>
  <p><strong>response code:</strong> {{data.responseCode}}</p>
  <p><strong>response text:</strong> {{data.responseText}}</p>
  <p><strong>Token</strong> {{data.token}}</p>
  <p><strong>Token response text:</strong> {{data.tokenResponseText}}</p>
</div>
