body, html {
  width: 100%; //fallback
  width: 100vw;
  padding: 0;
  margin: 0;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-content {
  width: 100%; //fallback
  width: 100vw;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    width: 200px;
    height: 40px;
    padding-top: 20px;
}

img {
  width: 500px;
}

.paycorp-iframe {
  width: 500px;
  height: 600px;
}

